.shared-menu-container {
  padding: 20px 0;
  background: #fff;

  .user-info {
    position: relative;
    padding-right: 80px;

    p.by {
      margin: 0;
      padding: 10px 0 0 0;
      font-size: 16px;
      color: #969696;
      font-style: italic;
    }

    p.user-name {
      margin: 0;
      font-weight: bold;
      font-size: 16px;
      color: #4b4b4b;
    }

    .avatar {
      position: absolute;
      right: 0;
      top: 0;
      width: 65px;
      height: 65px;
      -webkit-border-radius: 50%px;
      -moz-border-radius: 50%px;
      border-radius: 50%px;
    }
  }
}