html, body {
  margin:0;
  padding:0;
  height:100%;
  font-family: 'Lato', sans-serif;
}

#container {
  min-height:100%;
  position:relative;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

main {
  background: #fcfcfc;
  padding: 60px 0 80px 0;
}

p {
  color: #646464;
  font-size: 20px;
}